{% load django_simple_bulma %}
{% bulma %}
{% font_awesome %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Richmond Worker's Assembly">
        <meta name="keywords" content="RWA">
        <title>Richmond Worker's Assembly</title>
   </head>

    <body>

        <nav>
            {% include "navbar.html" %}
        </nav>

        {% block content %}
        {% endblock content %}
        
    </body>
</html>