<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Richmond Worker's Assembly">
        <meta name="keywords" content="RWA">
        <title>Richmond Worker's Assembly</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
   </head>
    <body>

        <nav>
            {% include "navbar.html" %}
        </nav>

        {% block content %}
        {% endblock content %}
        
    </body>
</html>